@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use "sass:color";

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 228, 218, 0.73);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $tile-radius * 2;

    // Fade in animation
    animation: fade-in 800ms ease 1200ms;
    animation-fill-mode: both;

    &.won {
        background-color: rgba(237, 194, 46, 0.5);
        color: #f9f6f2;
    }
}

.message {
    font-size: 50px;
    font-weight: bold;
    color: #776e65;
    margin-bottom: 20px;

    @include mobile {
        font-size: 32px;
    }
}

.tryAgainButton {
    background-color: #8f7a66;
    color: #f9f6f2;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: none;
    font-size: 18px;

    &:hover {
        background-color: color.adjust(#8f7a66, $lightness: -5%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}