@use 'variables' as *;

@mixin mobile {
    @media screen and (max-width: 520px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full-fill {
    width: 100%;
    height: 100%;
}